# ==========================================
# Build Files
# ==========================================
build/
*.exe
*.out
*.o
*.obj

# ==========================================
# SQLite Database
# ==========================================
database/*.db
database/*.db-journal
database/*.sqlite
database/*.sqlite3

# ==========================================
# Visual Studio Code
# ==========================================
.vscode/

# ==========================================
# Visual Studio
# ==========================================
.vs/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp

# ==========================================
# OS Files
# ==========================================
Thumbs.db
.DS_Store